<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Lettings</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <div class="row">
                <div class="text-center">
                    <h1>Lettings</h1>
                </div>
            </div>
        </header>
        <section>
            {% if lettings_list %}
            <div>
                <ul class="list-group list-group-flush opacity-75">
                {% for letting in lettings_list %}
                    <li class="list-group-item list-group-item-warning">
                        <a href="{% url 'lettings:letting' letting_id=letting.id %}">
                            {{ letting.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>No lettings are available.</p>
            {% endif %}
        </section>
        <footer>
            <div class="text-center">
                <a class="btn" href="{% url 'index' %}">Home</a>
                <a class="btn" href="{% url 'profiles:index' %}">Profiles</a>
            </div>
        </footer>
        <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    </body>
</html>